body{
    background-color: #F5F1EE;
}
.content_wrapper{
    position: sticky;
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: baseline;
}

.content_wrapper:nth-child(7){
    background: rgba(61, 90, 92, 0.4);
}

.intro_box{
    position: absolute;
    width: 1000px;
    height: 300px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_box > img:nth-child(1){
    position: absolute;
    width: 70%;
    height: 100%;
    left: 0%;
    right: 29.55%;
    top: 0%;
    bottom: 0.68%;
}

.intro_box > img:nth-child(2){
    position: absolute;
    width: 30%;
    height: 45%;
    left: 75.9%;
    right: 0%;
    top: 10%;

    font-family: 'Road Rage';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.intro_box > img:nth-child(3){
    position: absolute;
    width: 30%;
    height: 50%;
    left: 77%;
    right: 2.74%;
    top: 60%;
}

.intro_box > .content_box{
    box-sizing: border-box;

    position: absolute;
    width: 105%;
    height: 200px;
    left: 1%;
    top: 350px;
    
    background: #FFFFFF;
    border: 1px solid #000000;

    font-style: bold;
    font-weight: 300;
    font-size: 20px;
    line-height: 55px;
}

.intro_box2{
    position: absolute;
    width: 1000px;
    height: 300px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_box2 > img:nth-child(1){
    position: absolute;
    width: 70%;
    height: 100%;
    left: 35%;
    right: 29.55%;
    top: 0%;
    bottom: 0.68%;
}

.intro_box2 > img:nth-child(2){
    position: absolute;
    width: 30%;
    height: 45%;
    left: 3%;
    top: 10%;

    font-family: 'Road Rage';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.intro_box2 > a > img{
    position: absolute;
    width: 30%;
    height: 50%;
    left: 3%;
    top: 60%;
}

.intro_box2 > .content_box{
    box-sizing: border-box;

    position: absolute;
    width: 105%;
    height: 200px;
    left: 1%;
    top: 350px;
    
    background: #FFFFFF;
    border: 1px solid #000000;

    font-style: bold;
    font-weight: 300;
    font-size: 20px;
    line-height: 55px;
}
