.회원가입창{
    position: absolute;
    width: 300px;
    top: 20%;
    left: 40%;
    background-color: #2F3661;
    color: white;
    border-radius: 3%;
}

.회원가입창 input{
    position: absolute;
    right: 10%;
}

.회원가입창 > div{
    margin-left: 20px;
}

.회원가입창 button{
    margin-left: 70%;
    margin-bottom: 5%;
}